* {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Sahitya&family=Tillana&display=swap');

body {
    font-family: 'Poppins', sans-serif;
} 


/* home section*/

.home, .Intro, .help, .footer {
    background-color: #D5ECED;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
}

.hana {
    width: 15rem;
}

.homepageimg {
    width: 60%;
}

/* home section*/

/* Intro Section */

.Intro {
    background-color: #FFF;
}

.Introtext {
    text-align: center;
    width: 18rem;

}

.border {
    border-top: 8px dotted #D5ECED;
    height: 1px;
    width: 8rem;
    margin-top: 0.75rem;
}

.Software {
    width: 15rem;
    object-fit: contain;
}


.skills {
    display: flex;
    width: 40%;
    gap: 5rem;
}

.skills2 {
    flex-direction: row-reverse;
}

/* Intro Section End */

/* Help Section */

.help {
    background-color: #FFF;
    margin: auto;
    text-align: center;
}

.help div {
    width: 18rem;
}

.btn {
    padding: 0.5rem 5rem;
    background-color: #76c9ce;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;   
}

.btn:hover {
    cursor: pointer;
    background-color: #7dd7db;
    color:#FFF;

}

/* Help Section Ends */

/* Footer Section */

.footer {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.fpd {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 

}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text1 a {
    color:#27969c;
    text-decoration: none;
}

.text1 a:hover {
    color:#0e4b4e;
}

.logolinks:hover ~ .logolinks svg {
    fill:#0e4b4e;
}

.logolinks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logolinks svg {
    width: 0.75rem;
    fill:#27969c;
}

.icons {
    width: 1rem;
}


.logo {
    width: 15rem;
    object-fit: contain;
}

/* Footer Section Ends */

/* Font css section */


.subheading {
    font-size: 1.3rem;
    color: #5BAEB2;
    font-weight: 400;
}

.Superheading {
    font-size: 3rem;
    font-weight: 400;
    color: #5BAEB2;
}

.profile {
    width: 200px;
}

.heading {
    font-weight: 600;
    color: #5BAEB2;  
}

/* Responsiveness Code */

@media only screen and (max-width: 1600px) {
    .Software {
        width: 10rem;
    }
}

@media only screen and (max-width: 1024px) {
    .skills {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    
}

@media only screen and (max-width: 768px) {
    .fpd {
        align-items: center;
    }

    .logo {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .Software {
        width: 13rem;
    }
    .skills {
        width: 70%;
    }
    .Superheading {
        font-size: 2rem;
    }
    .fpd {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .footer {
        padding: 2rem;
    }
}

/* Resposiveness Code Ends */
